.buttonBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(104, 214, 104, 0.9);
  height: 100vh;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .buttonBox {
    padding: 10px;  /* Reduced padding for mobile */
    height: auto;   /* Adjust height to content */
  }
}


.mapInfoButton {
  width: 100%;
  margin-bottom: 10px;
  background-color: #4ab84a;
  color: white;
}

.selected {
  background-color: #228B22 !important;
}

.mapSelect {
  margin-top: 20px;
  color: white;


}

.mapInfoBoxSelected {
  margin-top: 20px;
  padding: 10px;
  background-color: #2a912a;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  font-weight: bold;

}

.cropName {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px; /* Spacing below the text */
  padding-top: 60px; /* Pushing down so it doesn't overlap with header */
  text-align: center;
}